html,
body {
  height: 100vh;
  width: 100wh;
}

body {
  font-family: ui-monospace;
  font-size: 90%;
}

pre {
  margin: 0;
}

main {
  padding: 2em;
  display: flex;
  flex-direction: column;
  height: 100%;
}
